// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.stretch {
  width: 148px;
  text-align: center;
}
.after-nav-header {
  background: url("background.png") center repeat-x;
  width: 98%;
  margin: auto;
  margin-bottom: 10px;
}
#welcome-content {
  background-color: #f9f9f9;
  width: 98%;
  margin: auto;
  padding-top: 10px;
  border-bottom: 1px solid #ccc;

  height: 130px;
  .left-pane {
    width: 60%;
    height: 120px;
    float: left;
    margin-left: 33px;

    h1 {
      color: #285e8e;
      text-shadow: 1px 1px 2px #000;
      font-family: courier monotype-corsiva;
      font-size: 36px;
      font-weight: bold;
      padding: 0px;
      margin: 0px;

    }
    p {

      font-size: 22px;
      font-family: verdana courier monotype-corsiva;
      font-weight: plain;
      line-height: 25px;
      text-spacing: 5px;

    }
  }
  .right-pane {
    float: left;
    width: 34%;
    text-align: center;
    height: 120px;
    & > img {
      width: 150px;
      height: 80px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;

    }


  }


}
.images-cont {
  margin: auto;
  width: 93%;
  margin-top: 40px;
  & > img {
    width: 33%;
    height: 260px;

  }

}
.toph > li {
  width: 11.77777777%;
  text-align: center;
  font-weight: bolder;

  & > img {

  }
  &:first-child {
    padding-left: 0px;
  }
}
.bgmarket {
  background-color: rgba(0,0,0, 0.9);
  color: #f7f7f7;
}
.state-cont {
  width: 98%;
  margin: auto;
  border: 1px soid #000;
  margin-top: 40px;
}

.left-pane1 {
  width: 24%;
  float: left;
  margin-left: 33px;
  background-color: #cfc;



}
.right-pane1 {
  float: left;
  width: 69%;
  margin-left: 20px;
  text-align: center;
  .right-pane1-item {
    h1 {
      font-size: 17px;
      font-family: courier verdana;
      background-color: #2f4f4f;
      border-bottom: 2px solid #008bcb;
      color: #fff;
    }
    .store-item {
      width: 180px;
      height: 250px;
      text-decoration: none;
      text-align: center;

      img {
        margin: 10px 25px 5px 40px;
        border-radius: 10px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        width: 100px;
        height: 75px;
      }
      &:hover {
        border: 2px solid #285e8e;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;

      }
      h3 {
        text-decoration: none;
        text-align: center;
        font-size: 15px;
        bakground: blue;
      }
    }
  }

}
.carousel slide
.carousel-caption {
  z-index: 10;
  p {
      font-size: 21px;
      line-height: 1.4;
  }
}
.carousel .item {
  height: 130px;
  background-color: #777;
}
.carousel-inner > .item > img {
  height: 130px;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}
.thin-line {
  height: 100px;
  width: 1px;
  border-left: 1px solid #ccc;
  float: left;
}

//for jcarousel
.turn_banner{ margin:10px auto 0; width:978px; position:relative; z-index:1;}

.turn_banner .turn_info{position:absolute; bottom:0; left:0; background:#000; filter:Alpha(opacity=70);opacity:0.7; height:18px; width:100%; overflow:hidden; text-align:left; padding-left: 20px;}
.turn_banner .turn_info h6{ font-size:13px; height: 18px; line-height: 18px; max-height: 54px; white-space: nowrap; overflow: hidden;  text-overflow:ellipsis; font-weight: bold; }
.turn_banner .turn_info h6 a{ color:#fff; text-decoration: none;}
.turn_banner li:hover .turn_info{ height: 54px; padding:10px 20px;}
.turn_banner li:hover .turn_info h6{ font-size:15px;white-space: normal; height:54px;}

.turn_banner .turn_btn a{ top:87px; position:absolute; z-index:99; display: block; width:22px; height:43px; cursor:pointer;}
.turn_banner .turn_btn .turn_pre{left:0;}
.turn_banner .turn_btn .turn_next{right:1px; background-position:-24px 0;}

.turn_banner .jcarousel { position: relative; overflow: hidden; width: 978px; height: 217px; }
.turn_banner .jcarousel ul { width: 20000px; position: absolute;}
.turn_banner .jcarousel li {  float: left; width:326px; height:217px; line-height:20px; font-size:12px; overflow:hidden;  position:relative;}
.turn_banner .jcarousel li img{width:325px; height: 217px;}
/* bass css */
.fl, .left, .f-left{float:left;}
.fr, .right, .f-right{float:right;}
.clearfix:after{ content:""; height:0; visibility:hidden; display:block; clear:both;}
.clearfix{ zoom:1;}
.cl, .clear { clear:both;}
.wrapper{margin:0 auto;width:980px;text-align:left;}
a{color:#008bcb; text-decoration:none;}
a:hover{ text-decoration:underline;}
.state-display {
  padding-left: 0;
  padding-bottom: 1px;
  margin-bottom: 20px;
  list-style: none;
  overflow: hidden;
  li {
    float: left;
    width: 25%;
    height: 115px;
    padding: 10px;
    margin: 0 -1px -1px 0;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    border: 1px solid #ddd;
    &:hover {
      background-color: rgba(86,61,124,.1);
    }
  }
}
.mouse-icon {
  cursor: pointer;
  font-size: 18px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.state-select-menu {
  position: fixed;
  right: 0;
  left: 0;
  margin-top: -218px;
  width: 132px;
  a {
    text-decoration: none;
    background-color: rgba(0,0,0, 0.65);
    color: white;
  }
}
.divider-vertical {
  width: 1px;
  height: 30px;
  margin: 0 9px;
  overflow: hidden;
  background-color: #222222;
  border-right: 1px solid #333333;
}
